<h2 mat-dialog-title>Material Dialog Header - technostuf.com</h2>
<mat-dialog-content class="mat-typography">
    <h3>Material Dialog Content</h3>
    <p>Aptent quaerat ipsam dolores! Vulputate quisque litora nullam. Debitis massa? Blandit, dolore, unde eget? Quae,
        veniam officia facilisis! Tempora exercitation, do, ipsam? Faucibus pharetra, voluptatum, pretium? Porta.
        Turpis? Mauris id.</p>
    <p>Autem vulputate! Soluta exercitationem ligula iusto, netus sagittis diamlorem netus eleifend, ultricies ultricies
        aperiam! Sapien dolorum quisque vehicula, lacinia lacinia molestie. Sagittis numquam error augue placerat!
        Interdum alias doloribus tempus.</p>
    <p>Mollis reprehenderit ridiculus, occaecat ultricies debitis ea itaque luctus accusamus, adipisci labore qui
        repudiandae? Ullamco fames laborum. Dignissimos, phasellus tempor vestibulum eum mattis voluptate, integer
        nesciunt laborum fugiat fames quidem.</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>